// --- MIXINS --- //

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin links {
	line-height: 1.5em;
	text-transform:uppercase;
	font-family:$font-body;
	a {
	  color: $color-link;
	  text-decoration:none;
	  &:visited {
	    color: $color-vlink;
	    text-decoration:none;
	  }
	  &:hover {
	    color: $color-hlink;
	    text-decoration:none;
	  }
	  &:active {
	    color: $color-alink;
	    text-decoration:none;
	  }
	}
}

@mixin biopic {
    height: 4em;
    padding: 1em;
}
