// --------------------- VARIABLES ---------------------- //

// --- COLORS --- //

// palettes
$black: #3b3b3b;
$grey: #bebebe;
$color-main: #337893;
$color-main-dark: mix($color-main, #000, 25%);
$color-main-light: mix($color-main, #fff, 25%);
$color-complement: complement($color-main);
$color-complement-dark: mix($color-complement, #000, 25%);
$color-complement-light: mix($color-complement, #fff, 25%);
$color-alt: #0095FE;
$color-alt-dark: mix($color-alt, #000, 25%);
$color-alt-light: mix($color-alt, #fff, 25%);
$yellow: #f8f928;
$blue-dark: #0322b9;
$blue-light: #78f8db;

// functional colors
$color-bg: $grey;
$color-link: $blue-dark;
$color-vlink: $blue-dark;
$color-alink: $color-alt-light;
$color-hlink: $color-alt;

// --- FONTS --- //

$font-head:'VT323', 'System', sans-serif;
$font-body: 'Ubuntu Mono', 'System', sans-serif;


// --- MEDIA QUERIES --- //

$small: '300px';
$medium: '600px';
$large: '865px';
