// --------------------- VARIABLES ---------------------- // 

// --- COLORS --- //

// palettes
$black: #3b3b3b;
$grey: #c0c0c0;
$color-main: mix(#00ff7c, #fff, 50%); 
$color-main-dark: mix($color-main, #000, 25%);
$color-main-light: mix($color-main, #fff, 25%);
$color-complement: complement($color-main);
$color-complement-dark: mix($color-complement, #000, 25%);
$color-complement-light: mix($color-complement, #fff, 25%);
$color-alt: #fdf731;
$color-alt-dark: mix($color-alt, #000, 25%);
$color-alt-light: mix($color-alt, #fff, 25%);

// functional colors
$color-bg: $grey;
$color-link: $color-alt;
$color-vlink: $color-alt;
$color-alink: $color-alt-light;
$color-hlink: $color-alt-light;

// --- FONTS --- //

$sans-serif:'VT323', sans-serif;
$serif: $sans-serif;


// --- MEDIA QUERIES --- //

$small: 25 em;
$medium: 35 em;
$large: 62.5 em;