body {
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: "Ubuntu Mono", "System", sans-serif;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background-color: #c0c0c0;
  color: #3b3b3b; }
  body:after {
    content: "";
    display: table;
    clear: both; }
  body a {
    color: #fdf731;
    text-decoration: none; }
    body a:visited {
      color: #fdf731;
      text-decoration: none; }
    body a:hover {
      color: #fefdcb;
      text-decoration: none; }
    body a:active {
      color: #fefdcb;
      text-decoration: none; }
  body h1 {
    font-family: "VT323", "System", sans-serif;
    text-align: center; }
  body h3 {
    font-family: "VT323", "System", sans-serif; }
  body img {
    height: 4em;
    padding: 1em; }
  body p {
    font-family: "Ubuntu Mono", "System", sans-serif;
    margin: 0; }
  body img {
    /*height: 25em;*/
    padding: .25em 1em;
    margin: 0 auto;
    display: block; }

main {
  margin: 0 auto;
  width: 90%; }

.navbar {
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: "Ubuntu Mono", "System", sans-serif;
  font-size: 1em;
  padding: .5em 0;
  background-color: #3b3b3b;
  width: 100%;
  text-align: center;
  display: inline-block; }
  .navbar a {
    color: #fdf731;
    text-decoration: none; }
    .navbar a:visited {
      color: #fdf731;
      text-decoration: none; }
    .navbar a:hover {
      color: #fefdcb;
      text-decoration: none; }
    .navbar a:active {
      color: #fefdcb;
      text-decoration: none; }
  .navbar:after {
    content: "";
    display: table;
    clear: both; }
  .navbar a {
    margin: 0 .5em; }
  .navbar img {
    height: 50px; }
  .navbar ul {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    float: right; }
    .navbar ul:after {
      content: "";
      display: table;
      clear: both; }
  .navbar li {
    float: left; }

.home-link, .about-link {
  display: block;
  background-image: url(http://i.imgur.com/IlRz7Py.png);
  height: 98px; }

.about-link {
  width: 284px;
  background-position: 0px 98px; }

.about-link:active {
  background-position: 284px 98px; }

.home-link {
  width: 226px;
  background-position: 0px 0px; }

.home-link:active {
  background-position: 342px 0px; }

.about:after {
  content: "";
  display: table;
  clear: both; }
.about li {
  text-decoration: none;
  list-style-type: none; }
.about p {
  padding-top: 1em;
  text-align: center; }
.about img {
  height: 15%;
  margin: 8px 12px;
  padding: 0; }
.about .characters {
  margin-bottom: 2em; }
  @media (min-width: 865px) {
    .about .characters {
      width: 100%;
      float: left;
      display: inline-block;
      margin-bottom: 2em; }
      .about .characters .col {
        display: inline-block;
        float: left;
        width: 20%;
        padding: 1em; }
      .about .characters img {
        /*float: left;*/
        margin-right: 1.5em; }
      .about .characters ul {
        /*float: left;*/
        padding: 0;
        margin: 0;
        margin-top: 0.5em;
        line-height: 1.3em;
        list-style-type: none; }
      .about .characters ul li:first-child {
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1em; } }
.about .devs {
  margin-bottom: 2em; }
  .about .devs img {
    height: 32px;
    float: left; }
  .about .devs p {
    float: left; }

.blurb p {
  padding: 0;
  text-align: center; }

/*# sourceMappingURL=stylesheet.css.map */
