// gem install sass 
// run sass --watch on the command line in this directory to compile to css


// importing partials: as long as the partial starts with _, it won't compile to its own
// css file, but will just import its content into stylesheet.css when that compiles.

// @import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";

// --- BODY STYLES --- //

body {
	@include clearfix;
	@include links;
	background-color: $color-bg;
	color: $black;

	h1 {
	  font-family: $serif;
	  text-align:center;
	}

	h3 {
	  font-family: $serif;
	}

	img {
	  @include biopic; // in _mixins.scss
	}

	p {
	  font-family: $sans-serif;
	  margin: 0;
	}

	img {
		height: 25em;
		padding: 1em;
		margin: 0 auto;
		display: block;
	}

	
}

// --- NAVBAR --- // 

.navbar {
	@include links;
	font-size:1em;
	padding:.5em 0;
	background-color:$black;

	a {
		margin: 0 .5em;
	}

	float:none;
	text-align:center;

	@media (min-width:$large) {
  		display: inline-block;
		float:left;
	
	}
}

// --- ABOUT --- //

.about {
	@include clearfix;

	li {
		text-decoration:none;
		list-style-type:none;

	}

	p {
		padding-top: 1em;
	}
	img {
		float:left;
		height: 32px;
		margin: 8px 12px;
		padding: 0;
	}

	.capital {
		img {
			height:200px;
			margin-top:1.5em;
		}
	}

}

.blurb
	{
		p {
			padding:0;
			text-align:center;
		}
	}
