// gem install sass 
// run sass --watch on the command line in this directory to compile to css


// importing partials: as long as the partial starts with _, it won't compile to its own
// css file, but will just import its content into stylesheet.css when that compiles.

// @import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";

// --- BODY STYLES --- //

body {
	@include clearfix;
	@include links;

	// border box
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;         /* Opera/IE 8+ */

	background-color: $color-bg;
	color: $black;

	h1 {
	  font-family: $font-head;
	  text-align:center;
	}

	h3 {
	  font-family: $font-head;
	}

	img {
	  @include biopic; // in _mixins.scss
	}

	p {
	  font-family: $font-body;
	  margin: 0;
	}

	img {
		height: 25em;
		padding: .25em 1em;
		margin: 0 auto;
		display: block;
	}

	
}

main {
	margin: 0 auto;
	width: 90%;
}

// --- NAVBAR --- // 

.navbar {
	@include links;
	@include clearfix;
	font-size:1em;
	padding:.5em 0;
	background-color:$black;

	a {
		margin: 0 .5em;
	}

	width: 100%;
	text-align:center;
	display: inline-block;

	img {
		height:50px;
	}

	ul {
		@include clearfix;
		margin: 0 auto;
		width:100%;
		padding: 0;
		float:right;
	}

	li {
		float:left;
	}
}

// --- ABOUT --- //

.about {
	@include clearfix;

	li {
		text-decoration:none;
		list-style-type:none;

	}

	p {
		padding-top: 1em;
	}
	img {
		height: 32px;
		margin: 8px 12px;
		padding: 0;
	}

	.characters {
		// on small screens, characters are stacked vertically with small images.
		// they inherit the small image size from the .about cascade.  
		// HELP: there's a problem with spacing!

		// on large screens, characters are in 4 columns with large images. 
		// HELP: there's a problem with vertical alignment!
		
		@media (min-width:$large) {
			width: 100%;
			float:left;
			display:inline-block;

			.col {
				display: inline-block;
				// float:left;
				width:20%;
				padding:1em;
			}

			img {
				height:100px;
			}
		} // end of media query

	}

}

.blurb
	{
		p {
			padding:0;
			text-align:center;
		}
	}
