// gem install sass
// run sass --watch on the command line in this directory to compile to css


// importing partials: as long as the partial starts with _, it won't compile to its own
// css file, but will just import its content into stylesheet.css when that compiles.

// @import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";

// --- BODY STYLES --- //

body {
	@include clearfix;
	@include links;

	// border box
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;         /* Opera/IE 8+ */

	background-color: $color-bg;
	color: $black;
	margin: 0;

	h1 {
	  font-family: $font-head;
	  text-align:center;
	}

	h3 {
		font-family: $font-head;
		font-size: 2.2em;
		-webkit-font-smoothing: antialiased;
		color: $blue-dark;
		text-shadow: 0px 3px 0px $blue-light;
		box-shadow: inset 0 -.5em 0 $yellow;
		display: inline-block;
		padding: 0 .2em;
	}

	img {
	  @include biopic; // in _mixins.scss
	}

	p {
	  font-family: $font-body;
	  margin: 0;
	}

	img {
		/*height: 25em;*/
		padding: .25em 1em;
		margin: 0 auto;
		display: block;
	}


}

main {
	margin: 4% auto;
	width: 90%;
}

// --- NAVBAR --- //

.navbar {
	@include links;
	@include clearfix;
	font-size:1em;
	padding:.5em 0;
	background-color:$black;
	margin: 0;

	a {
		margin: 0 .5em;
	}

	width: 100%;
	display: block;
	margin: 0 auto;

	img {
		height:50px;
	}

	ul {
		@include clearfix;
		margin: 0 auto;
		width:100%;
		padding: 0;
		float:right;
	}

	li {
		float:left;
	}
	// --- LINK SPRITE STYLING --- //

	.home-link, .about-link {
		display:block;
		background-image: url(img/buttons.png);
		height:65px;
	}
	.about-link {
		width:190px;
		background-position: 0px 65px;
	}
	.about-link:active {
		background-position: 190px 65px;
	}
	.home-link {
		width:151px;
		background-position: 0px 0px;
	}
	.home-link:active {
		background-position: 229px 0px;
	}
}

// --- ABOUT --- //

.about {
	@include clearfix;

	li {
		text-decoration:none;
		list-style-type:none;

	}

	p {
		padding-top: 1em;
		// text-align: center;
	}
	img {
		height: 15%;
		margin: 8px 12px;
		padding: 0;
	}

	.characters {
		// on small screens, characters are stacked vertically with small images.
		// they inherit the small image size from the .about cascade.
		// HELP: there's a problem with spacing!
		// on large screens, characters are in 4 columns with large images.
		// HELP: there's a problem with vertical alignment!

		margin-bottom: 2em;

		@media (min-width:$large) {
			width: 100%;
			float:left;
			display:inline-block;
			margin-bottom: 2em;

			.col {
				display: inline-block;
				float: left;
				width: 15%;
				padding: 1em;
				margin-right: 1em;
			}

			img {
				margin: 0 0 1em 0;
			}
			ul {
				/*float: left;*/
				padding: 0;
				margin: 0;
				margin-top: 0.5em;
				line-height: 1.3em;
				list-style-type: none;
			}
			ul li:first-child {
				font-family: "VT323", "System", sans-serif;
				font-weight: bold;
				-webkit-font-smoothing: antialiased;
				color: $blue-dark;
				text-shadow: 0px 2px 0px $blue-light;
				font-size: 1.8em;
				line-height: 1.2em;
			}
			ul li:nth-child(2) {
				font-size: 1.4em;
				color: #337893;
				border-top: 2px solid #f8f928;
				padding-top: .8em;
			}
			ul li:last-child {
				color: $blue-dark;
			}
		} // end of media query

	}

	.devs {
		margin-bottom: 2em;
		padding: 0;

		img {
			height: 32px;
			float: left;
		}
		p {
			float: left;
		}
	}

}

.blurb
	{
		p {
			padding:0;
			// text-align:center;
		}
	}

.title {
	height: 20em;
}
#unityPlayer {
	display: block;
margin: 0 auto;
width: 960px;
}
