body {
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: "Ubuntu Mono", "System", sans-serif;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background-color: #bebebe;
  color: #3b3b3b;
  margin: 0; }
  body:after {
    content: "";
    display: table;
    clear: both; }
  body a {
    color: #0322b9;
    text-decoration: none; }
    body a:visited {
      color: #0322b9;
      text-decoration: none; }
    body a:hover {
      color: #0095FE;
      text-decoration: none; }
    body a:active {
      color: #bfe4fe;
      text-decoration: none; }
  body h1 {
    font-family: "VT323", "System", sans-serif;
    text-align: center; }
  body h3 {
    font-family: "VT323", "System", sans-serif;
    font-size: 2.2em;
    -webkit-font-smoothing: antialiased;
    color: #0322b9;
    text-shadow: 0px 3px 0px #78f8db;
    box-shadow: inset 0 -0.5em 0 #f8f928;
    display: inline-block;
    padding: 0 .2em; }
  body img {
    height: 4em;
    padding: 1em; }
  body p {
    font-family: "Ubuntu Mono", "System", sans-serif;
    margin: 0; }
  body img {
    /*height: 25em;*/
    padding: .25em 1em;
    margin: 0 auto;
    display: block; }

main {
  margin: 4% auto;
  width: 90%; }

.navbar {
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: "Ubuntu Mono", "System", sans-serif;
  font-size: 1em;
  padding: .5em 0;
  background-color: #3b3b3b;
  margin: 0;
  width: 100%;
  display: block;
  margin: 0 auto; }
  .navbar a {
    color: #0322b9;
    text-decoration: none; }
    .navbar a:visited {
      color: #0322b9;
      text-decoration: none; }
    .navbar a:hover {
      color: #0095FE;
      text-decoration: none; }
    .navbar a:active {
      color: #bfe4fe;
      text-decoration: none; }
  .navbar:after {
    content: "";
    display: table;
    clear: both; }
  .navbar a {
    margin: 0 .5em; }
  .navbar img {
    height: 50px; }
  .navbar ul {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    float: right; }
    .navbar ul:after {
      content: "";
      display: table;
      clear: both; }
  .navbar li {
    float: left; }
  .navbar .home-link, .navbar .about-link {
    display: block;
    background-image: url(img/buttons.png);
    height: 65px; }
  .navbar .about-link {
    width: 190px;
    background-position: 0px 65px; }
  .navbar .about-link:active {
    background-position: 190px 65px; }
  .navbar .home-link {
    width: 151px;
    background-position: 0px 0px; }
  .navbar .home-link:active {
    background-position: 229px 0px; }

.about:after {
  content: "";
  display: table;
  clear: both; }
.about li {
  text-decoration: none;
  list-style-type: none; }
.about p {
  padding-top: 1em; }
.about img {
  height: 15%;
  margin: 8px 12px;
  padding: 0; }
.about .characters {
  margin-bottom: 2em; }
  @media (min-width: 865px) {
    .about .characters {
      width: 100%;
      float: left;
      display: inline-block;
      margin-bottom: 2em; }
      .about .characters .col {
        display: inline-block;
        float: left;
        width: 15%;
        padding: 1em;
        margin-right: 1em; }
      .about .characters img {
        margin: 0 0 1em 0; }
      .about .characters ul {
        /*float: left;*/
        padding: 0;
        margin: 0;
        margin-top: 0.5em;
        line-height: 1.3em;
        list-style-type: none; }
      .about .characters ul li:first-child {
        font-family: "VT323", "System", sans-serif;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        color: #0322b9;
        text-shadow: 0px 2px 0px #78f8db;
        font-size: 1.8em;
        line-height: 1.2em; }
      .about .characters ul li:nth-child(2) {
        font-size: 1.4em;
        color: #337893;
        border-top: 2px solid #f8f928;
        padding-top: .8em; }
      .about .characters ul li:last-child {
        color: #0322b9; } }
.about .devs {
  margin-bottom: 2em;
  padding: 0; }
  .about .devs img {
    height: 32px;
    float: left; }
  .about .devs p {
    float: left; }

.blurb p {
  padding: 0; }

.title {
  height: 20em; }

#unityPlayer {
  display: block;
  margin: 0 auto;
  width: 960px; }

/*# sourceMappingURL=stylesheet.css.map */
