// --- MIXINS --- //

@mixin links {
	line-height: 1.5em;
	text-transform:uppercase;
	font-family:$sans-serif;
	a {
	  color: $color-complement;
	  &:visited {
	    color: $color-complement-dark;
	  }
	  &:hover {
	    color: $color-complement-light;
	    text-decoration:none;
	  }
	  &:active {
	    color: $color-main;
	  }
	}
}

@mixin biopic {
    height: 4em;
    padding: 1em;
}