


// --------------------- VARIABLES ---------------------- // 

// --- COLORS --- //

$black: #3b3b3b;
$color-main: #00FA9A;
$color-main-dark: mix($color-main, #000, 25%);
$color-main-light: mix($color-main, #fff, 25%);
$color-complement: complement($color-main);

// --- FONTS --- //

$serif:'Arvo', serif;
$sans-serif:'Oswald', sans-serif;

// --- MEDIA QUERIES --- //

$small: 25 em;
$medium: 35 em;
$large: 62.5 em;


